* {
	margin: 0;
	padding: 0;
}

#hamburger {
	background-color: #4d8578;
	margin: 0;
	padding: 0 30px 0 30px;
	}

#hamburger .logo {
	text-align: right;
	padding-right: 30px;
	color: #e9e9e9;
	font-size: 24px;
	line-height: 64px;
}

nav {
	position: absolute;
	background-color: #4d8578;
	text-align: left;
	left: 0;
	width: 100%;
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 200ms ease-in-out;
}

nav ul {
	padding: 0;
	list-style: none;
}

nav li {
	margin: 0 0 6px 12px;
	}

nav a {
	color: #e7dddd;
	font-size: 12px;
	}

nav a:hover {
	color: #73ae7a; 
}

.hamburger-toggle {
	display: none;
}

.hamburger-toggle:checked ~ nav {
	transform: scale(1,1);
}

.hamburger-toggle-label {
	position: absolute;
	top: 32px;
	left: 32px;
	margin-left: 12px;
	line-height: 64px;
}

.hamburger-toggle-label span,
.hamburger-toggle-label span::before,
.hamburger-toggle-label span::after {
	position: relative;
	display: flex;
	background-color: #e7dddd;
	height:3px;
	width: 24px;
	border-radius: 3px;
	align-items: center;
	justify-content: center;
}

.hamburger-toggle-label span::before,
.hamburger-toggle-label span::after {
	content: '';
	position: absolute;
}

.hamburger-toggle-label span::before{
	bottom: 6px;
}

.hamburger-toggle-label span::after {
	top: 6px;
}

.hamburger-toggle-label:hover {
	transform: rotate(165deg);

}

/* ------------------------------------------------- */

@media only screen and (min-width: 768px){

	#hamburger * {
		display: none;
	}

	nav {
		all: unset;

	}

	#navbar {
		background-color: #4d8578;
		color: #e9e9e9;
		text-align: right;
	}

	#navbar ul{
		padding-right: 30px;
		list-style: none;
	}

	#navbar li{
		display: inline;
	}

	#navbar a{
		color: #e9e9e9;
		font-size: 14px;
		text-decoration: none;
		padding-right: 10px;
	}

	#navbar a:hover{
		color: #999;
	}

	#navbar-left {
		background-color: #444444;
		color: #e9e9e9;
		text-align: center;
	}

	#navbar-left ul {
		padding: 0;
		list-style: none;
	}

	#navbar-left li {
		display: inline;
	}

	#navbar-left a {
		color: #e9e9e9;
		font-size: 18px;
		text-decoration: none;
		padding-right: 16px;
	}

	#navbar-left a:hover {
		color: #999;
	}

}